.game {
    background-color: #ddefdcba;
    border: #356a44 2px solid;
    margin: 12px;
    border-radius: 2px;
    flex: 1;
    box-shadow: #508150 1px 1px 3px 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game>div {
    flex: 0;
}

.game-bar {
    background-color: #ffffc8;
    height: 45px;
    margin-top: 5px;
    line-height: 40px;
    border: #d0fced solid 1px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    width: 80%;
}

.team-home,
.team-visitor {
    flex: 0 35%;
    display: flex;
    flex-direction: row;
}

.center {
    flex: 0 30%;
    display: flex;
    flex-direction: row;
}

.team-home>div,
.team-visitor>div,
.center>div {

    flex: 1;
}

.timer {
    text-align: center;
}

.team-visitor-name {
    text-align: right;
    margin-right: 20px;
}

.team-home-name {
    margin-left: 20px;
}

.game-bar-controls {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.game-bar-controls>button {
    margin: 5px;
}

.team-visitor-score,
.team-home-score {

    background-color: #c7eabe;
    border-left: #96ffba30 solid;
    border-right: #96ffba30 solid;
    font-weight: bold;
    flex: 0 15% !important;
    text-align: center;
}

.game-balance {
    display: flex;
    flex-direction: row;
    height: 27px;
    width: 80%;
    border: #c8c8c8 solid 1px;
    background-color: #017101;
}

.game-balance canvas {
    flex: 1;
}

#game-ball {
    display: none;
}

.btn-green,
.btn-green:focus {
    background: #085b08;
    color: white;
}

.btn-green:hover,
.btn-green:active {
    background: white !important;
    color: #085b08 !important;
}

.btn-yellow,
.btn-yellow:focus {
    background-color: #b2a21c;
    color: black;
}

.btn-yellow:hover,
.btn-yellow:active {
    background-color: black !important;
    color: #b2a21c !important;
}

#game-message {
    position: fixed;
    width: 200px;
    height: 25px;
    left: calc(50% - 100px);
    text-align: center;
    display: none;  
    background-color: white;
}

#game-message span.penalty {
    color: green;
    text-shadow: 1px 2px 2px #9a9191e6;
}

#game-message span.goal {
    animation: blinker 2s linear infinite;
    font-weight: bold;
    color: green;
    text-shadow: 1px 2px 2px #9a9191e6;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}