.layout {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    min-height: 100vh;
    height: 100vh;
    top: 0;
}

.layout>div {

    flex: 1
}

.header {
    background-color: #394539;
    flex: 0 45px !important;
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    padding-right: 20px;
}

.header>div {
    flex: 1;
}

.logo {
    color: #ffff66;
    font-weight: bold;
    text-shadow: -2px 1px 3px #32863f;
    font-size: 16pt;
    flex: 0 !important;
    margin-block: auto;
}

.nav.menu {
    flex: 0 !important;
}

.wrapper {
    flex-direction: column;
    display: flex;
}